h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 38px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
    color: black;
    background-color: transparent;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }
}

h3 { 
    font-family: 'Indie Flower', cursive;
    text-align: center;
    background-color: #ffcc00;
    border-color: black;
    border-style: dotted;
}

h4 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    background-color: #ffcc00;
    border-style: dotted;
}

#start {
    text-decoration: none;
    border-style: dotted;
    border-color: #ffcc00;
    border-width:3px;
    padding:7px;
    color: #ffcc00;
    
}
p {
    text-align:center;
}

h1 {
    text-align:center;
}

#wrong1 {
    text-align:center;
}
#nugget{
    var ctx;
var imgBg;
var imgDrops;
var x = 0;
var y = 0;
var noOfDrops = 30;
var fallingDrops = [];


    function drawBackground(){  
        ctx.drawImage(imgBg, 0, 0); /*Background*/
    }

    function draw() {
        drawBackground();
        
        for (var i=0; i< noOfDrops; i++)
        {
        ctx.drawImage (fallingDrops[i].image, fallingDrops[i].x, fallingDrops[i].y); /*The rain drop*/

        fallingDrops[i].y += fallingDrops[i].speed; //Set the falling speed
        if (fallingDrops[i].y > 45) {  /*Repeat the raindrop when it falls out of view*/
        fallingDrops[i].y = -25 //Account for the image size
        fallingDrops[i].x = Math.random() * 60;    /*Make it appear randomly along the width*/    
        }
        
        }
    }

    function setup() {
       var canvas = document.getElementById('canvasRegn');

        if (canvas.getContext) {
                ctx = canvas.getContext('2d');
            
                    imgBg = new Image();
            imgBg.src = "http://lorempixel.com/600/600/sports/";
        setInterval(draw, 40);
        for (var i = 0; i < noOfDrops; i++) {
            var fallingDr = new Object();
            fallingDr["image"] =  new Image();
        fallingDr.image.src ="https://beerandapplepie.files.wordpress.com/2009/07/nugget.jpg";
                
            fallingDr["x"] = Math.random() * 100;
            fallingDr["y"] = Math.random() * 5;
            fallingDr["speed"] = 3 + Math.random() * 5;
            fallingDrops.push(fallingDr);
            }

        }
    }




setup();
}
body{
background-image: url("chickennugget.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}





